{% extends 'base.html' %}

{% block content %}
<div class="narrow-form">
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
</div>
{% endblock content %}