{% extends 'base.html' %}

{% block content %}
<div class="narrow-form">
  <h1>Signup</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Signup</button>
  </form>
</div>
{% endblock content %}